.container {
  width: 60%;
}
.row {
  border-radius: 4px;
}

.actual {
  border-radius: 4px;
  border: 2px solid #008f8f;
  background-color: white;
}

.heading {
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: #008f8f;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.heading-col {
  margin-top: 15px;
}
.forecast-row {
  border-bottom: 1px solid #008f8f;
  margin-top: 20px;
}
.form-city {
  font-size: 15px;
  margin: px;
  padding: px;
}

button {
  margin-bottom: 0px;
  margin-top: 5px;
}

.weather-today {
  font-size: 20px;
  margin: 10px 5px;
  font-weight: bold;
}

.temperature-table {
  text-align: center;
}

.temperature,
.city {
  font-size: 40px;

  transition: all ease-in-out;
  font-weight: 700;
  color: #f14c0f;
  text-align: center;
}

.celsius-fahrenheit {
  font-size: 16px;
  color: black;
  vertical-align: top;
  text-align: center;
}

a {
  color: #0000ff;
  text-decoration: none;
}

.min-max {
  font-size: 16px;
  text-align: center;
}

.box-actual-time {
  text-align: center;
}

.date,
.hour {
  font-size: 16px;
}

.min-arrow {
  color: blue;
}

.max-arrow {
  color: red;
}

.emoji-weather {
  font-size: 65px;
  text-align: center;
}

.weather {
  text-align: center;
  font-size: 25px;
}

.next-prevision {
  font-size: 20px;
  margin: 15px;
}

.emoji-prevision {
  font-size: 45px;
  margin-top: 10px;
  vertical-align: center;
}

.forecast {
  margin-top: 10px;
}

.city:hover {
  text-decoration: underline;
  cursor: pointer;
}
